body {
    color: #5a4326;
    line-height: 1;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: delius;
    text-align: left;
    background-color: #fdf2dd;
}
.box {
    max-width: 600px;
    border: 5px solid #7e5442;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #efe1c5;
    position: relative;}
h1 {
    color: #5a4326;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-family: delius;
}
h3 {
    text-align: center;}

.maintxt {
    color: #5a4326;
    font-family: delius;
    border: 2px solid #5a4326;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
}
table {
    text-align: center;
    border-collapse: collapse;
    width: 100%
}

.center {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 100%
}
.form {
    text-align: center;
    max-width: 100%;
}
.img {
    display: block;
    margin: auto;
    max-width: 100%
}
.links {
    text-align: center;
}
.current {
    text-decoration: underline;
    font-weight: bold; }

.navbar {
    text-align: center;
    width: 100%;   
}

.navbutton {
    background-color: #fff4df;
    border: 2px solid #5a4326;
    
    padding: 2px
}
/*phone*/
@media (min-width: 600px) {
    .navbutton{
        display: inline-block;
        width: 15%;
        margin: -1px;
    }
    .box{
        width: auto;
        margin: auto;
    }
}
/*tablet*/
@media (min-width: 800px) {
    .navbutton{
        display: inline-block;
        width: 15%;
        margin: -1px;
    }

}

/*desktop*/
@media (min-width: 1200px) {
    .navbutton{
        display: inline-block;
        width: 100px;
        margin: 5px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
}
    
    
    
    
    
    
    
    
    
    
    
}
