body {
    color: #5a4326;
    line-height: 1;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: delius;
    text-align: left;
    background-color: #f9f4eb;
    max-width: 800px;
    width: 700px;
    border: 10px solid #7e5442;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #5a4326;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-family: delius;
}
h3 {
    text-align: center;
}
.maintxt {
    color: #7e5442;
    font-family: delius;
}
table {
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
}
.form {
    text-align: center;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.links {
    text-align: center;
}
.current {
    text-decoration: underline;
    font-weight: bold; }

    
    
    
    
    
    
    
    
    
    
    
    
    
}
